@import 'variables';

$standard-country: 'ac';
$item-width-maps: (ac: 20px, ad: 20px, ae: 20px, af: 20px, ag: 20px, ai: 20px, al: 20px, am: 20px, ao: 20px, aq: 20px, ar: 20px, as: 20px, at: 20px, au: 20px, aw: 20px, ax: 20px, az: 20px, ba: 20px, bb: 20px, bd: 20px, be: 18px, bf: 20px, bg: 20px, bh: 20px, bi: 20px, bj: 20px, bl: 20px, bm: 20px, bn: 20px, bo: 20px, bq: 20px, br: 20px, bs: 20px, bt: 20px, bv: 20px, bw: 20px, by: 20px, bz: 20px, ca: 20px, cc: 20px, cd: 20px, cf: 20px, cg: 20px, ch: 15px, ci: 20px, ck: 20px, cl: 20px, cm: 20px, cn: 20px, co: 20px, cp: 20px, cr: 20px, cu: 20px, cv: 20px, cw: 20px, cx: 20px, cy: 20px, cz: 20px, de: 20px, dg: 20px, dj: 20px, dk: 20px, dm: 20px, do: 20px, dz: 20px, ea: 20px, ec: 20px, ee: 20px, eg: 20px, eh: 20px, er: 20px, es: 20px, et: 20px, eu: 20px, fi: 20px, fj: 20px, fk: 20px, fm: 20px, fo: 20px, fr: 20px, ga: 20px, gb: 20px, gd: 20px, ge: 20px, gf: 20px, gg: 20px, gh: 20px, gi: 20px, gl: 20px, gm: 20px, gn: 20px, gp: 20px, gq: 20px, gr: 20px, gs: 20px, gt: 20px, gu: 20px, gw: 20px, gy: 20px, hk: 20px, hm: 20px, hn: 20px, hr: 20px, ht: 20px, hu: 20px, ic: 20px, id: 20px, ie: 20px, il: 20px, im: 20px, in: 20px, io: 20px, iq: 20px, ir: 20px, is: 20px, it: 20px, je: 20px, jm: 20px, jo: 20px, jp: 20px, ke: 20px, kg: 20px, kh: 20px, ki: 20px, km: 20px, kn: 20px, kp: 20px, kr: 20px, kw: 20px, ky: 20px, kz: 20px, la: 20px, lb: 20px, lc: 20px, li: 20px, lk: 20px, lr: 20px, ls: 20px, lt: 20px, lu: 20px, lv: 20px, ly: 20px, ma: 20px, mc: 19px, md: 20px, me: 20px, mf: 20px, mg: 20px, mh: 20px, mk: 20px, ml: 20px, mm: 20px, mn: 20px, mo: 20px, mp: 20px, mq: 20px, mr: 20px, ms: 20px, mt: 20px, mu: 20px, mv: 20px, mw: 20px, mx: 20px, my: 20px, mz: 20px, na: 20px, nc: 20px, ne: 18px, nf: 20px, ng: 20px, ni: 20px, nl: 20px, no: 20px, np: 13px, nr: 20px, nu: 20px, nz: 20px, om: 20px, pa: 20px, pe: 20px, pf: 20px, pg: 20px, ph: 20px, pk: 20px, pl: 20px, pm: 20px, pn: 20px, pr: 20px, ps: 20px, pt: 20px, pw: 20px, py: 20px, qa: 20px, re: 20px, ro: 20px, rs: 20px, ru: 20px, rw: 20px, sa: 20px, sb: 20px, sc: 20px, sd: 20px, se: 20px, sg: 20px, sh: 20px, si: 20px, sj: 20px, sk: 20px, sl: 20px, sm: 20px, sn: 20px, so: 20px, sr: 20px, ss: 20px, st: 20px, sv: 20px, sx: 20px, sy: 20px, sz: 20px, ta: 20px, tc: 20px, td: 20px, tf: 20px, tg: 20px, th: 20px, tj: 20px, tk: 20px, tl: 20px, tm: 20px, tn: 20px, to: 20px, tr: 20px, tt: 20px, tv: 20px, tw: 20px, tz: 20px, ua: 20px, ug: 20px, um: 20px, un: 20px, us: 20px, uy: 20px, uz: 20px, va: 15px, vc: 20px, ve: 20px, vg: 20px, vi: 20px, vn: 20px, vu: 20px, wf: 20px, ws: 20px, xk: 20px, ye: 20px, yt: 20px, za: 20px, zm: 20px, zw: 20px, );

$item-position-map: (
    ac: (10px, 0),
    ad: (14px, -22px),
    ae: (10px, -44px),
    af: (14px, -66px),
    ag: (14px, -88px),
    ai: (10px, -110px),
    al: (15px, -132px),
    am: (10px, -154px),
    ao: (14px, -176px),
    aq: (14px, -198px),
    ar: (13px, -220px),
    as: (10px, -242px),
    at: (14px, -264px),
    au: (10px, -286px),
    aw: (14px, -308px),
    ax: (13px, -330px),
    az: (10px, -352px),
    ba: (10px, -374px),
    bb: (14px, -396px),
    bd: (12px, -418px),
    be: (15px, -440px),
    bf: (14px, -460px),
    bg: (12px, -482px),
    bh: (12px, -504px),
    bi: (12px, -526px),
    bj: (14px, -548px),
    bl: (14px, -570px),
    bm: (10px, -592px),
    bn: (10px, -614px),
    bo: (14px, -636px),
    bq: (14px, -658px),
    br: (14px, -680px),
    bs: (10px, -702px),
    bt: (14px, -724px),
    bv: (15px, -746px),
    bw: (14px, -768px),
    by: (10px, -790px),
    bz: (14px, -812px),
    ca: (10px, -834px),
    cc: (10px, -856px),
    cd: (15px, -878px),
    cf: (14px, -900px),
    cg: (14px, -922px),
    ch: (15px, -944px),
    ci: (14px, -961px),
    ck: (10px, -983px),
    cl: (14px, -1005px),
    cm: (14px, -1027px),
    cn: (14px, -1049px),
    co: (14px, -1071px),
    cp: (14px, -1093px),
    cr: (12px, -1115px),
    cu: (10px, -1137px),
    cv: (12px, -1159px),
    cw: (14px, -1181px),
    cx: (10px, -1203px),
    cy: (14px, -1225px),
    cz: (14px, -1247px),
    de: (12px, -1269px),
    dg: (10px, -1291px),
    dj: (14px, -1313px),
    dk: (15px, -1335px),
    dm: (10px, -1357px),
    do: (14px, -1379px),
    dz: (14px, -1401px),
    ea: (14px, -1423px),
    ec: (14px, -1445px),
    ee: (13px, -1467px),
    eg: (14px, -1489px),
    eh: (10px, -1511px),
    er: (10px, -1533px),
    es: (14px, -1555px),
    et: (10px, -1577px),
    eu: (14px, -1599px),
    fi: (12px, -1621px),
    fj: (10px, -1643px),
    fk: (10px, -1665px),
    fm: (11px, -1687px),
    fo: (15px, -1709px),
    fr: (14px, -1731px),
    ga: (15px, -1753px),
    gb: (10px, -1775px),
    gd: (12px, -1797px),
    ge: (14px, -1819px),
    gf: (14px, -1841px),
    gg: (14px, -1863px),
    gh: (14px, -1885px),
    gi: (10px, -1907px),
    gl: (14px, -1929px),
    gm: (14px, -1951px),
    gn: (14px, -1973px),
    gp: (14px, -1995px),
    gq: (14px, -2017px),
    gr: (14px, -2039px),
    gs: (10px, -2061px),
    gt: (13px, -2083px),
    gu: (11px, -2105px),
    gw: (10px, -2127px),
    gy: (12px, -2149px),
    hk: (14px, -2171px),
    hm: (10px, -2193px),
    hn: (10px, -2215px),
    hr: (10px, -2237px),
    ht: (12px, -2259px),
    hu: (10px, -2281px),
    ic: (14px, -2303px),
    id: (14px, -2325px),
    ie: (10px, -2347px),
    il: (15px, -2369px),
    im: (10px, -2391px),
    in: (14px, -2413px),
    io: (10px, -2435px),
    iq: (14px, -2457px),
    ir: (12px, -2479px),
    is: (15px, -2501px),
    it: (14px, -2523px),
    je: (12px, -2545px),
    jm: (10px, -2567px),
    jo: (10px, -2589px),
    jp: (14px, -2611px),
    ke: (14px, -2633px),
    kg: (12px, -2655px),
    kh: (13px, -2677px),
    ki: (10px, -2699px),
    km: (12px, -2721px),
    kn: (14px, -2743px),
    kp: (10px, -2765px),
    kr: (14px, -2787px),
    kw: (10px, -2809px),
    ky: (10px, -2831px),
    kz: (10px, -2853px),
    la: (14px, -2875px),
    lb: (14px, -2897px),
    lc: (10px, -2919px),
    li: (12px, -2941px),
    lk: (10px, -2963px),
    lr: (11px, -2985px),
    ls: (14px, -3007px),
    lt: (12px, -3029px),
    lu: (12px, -3051px),
    lv: (10px, -3073px),
    ly: (10px, -3095px),
    ma: (14px, -3117px),
    mc: (15px, -3139px),
    md: (10px, -3160px),
    me: (10px, -3182px),
    mf: (14px, -3204px),
    mg: (14px, -3226px),
    mh: (11px, -3248px),
    mk: (10px, -3270px),
    ml: (14px, -3292px),
    mm: (14px, -3314px),
    mn: (10px, -3336px),
    mo: (14px, -3358px),
    mp: (10px, -3380px),
    mq: (14px, -3402px),
    mr: (14px, -3424px),
    ms: (10px, -3446px),
    mt: (14px, -3468px),
    mu: (14px, -3490px),
    mv: (14px, -3512px),
    mw: (14px, -3534px),
    mx: (12px, -3556px),
    my: (10px, -3578px),
    mz: (14px, -3600px),
    na: (14px, -3622px),
    nc: (10px, -3644px),
    ne: (15px, -3666px),
    nf: (10px, -3686px),
    ng: (10px, -3708px),
    ni: (12px, -3730px),
    nl: (14px, -3752px),
    no: (15px, -3774px),
    np: (15px, -3796px),
    nr: (10px, -3811px),
    nu: (10px, -3833px),
    nz: (10px, -3855px),
    om: (10px, -3877px),
    pa: (14px, -3899px),
    pe: (14px, -3921px),
    pf: (14px, -3943px),
    pg: (15px, -3965px),
    ph: (10px, -3987px),
    pk: (14px, -4009px),
    pl: (13px, -4031px),
    pm: (14px, -4053px),
    pn: (10px, -4075px),
    pr: (14px, -4097px),
    ps: (10px, -4119px),
    pt: (14px, -4141px),
    pw: (13px, -4163px),
    py: (11px, -4185px),
    qa: (8px, -4207px),
    re: (14px, -4229px),
    ro: (14px, -4251px),
    rs: (14px, -4273px),
    ru: (14px, -4295px),
    rw: (14px, -4317px),
    sa: (14px, -4339px),
    sb: (10px, -4361px),
    sc: (10px, -4383px),
    sd: (10px, -4405px),
    se: (13px, -4427px),
    sg: (14px, -4449px),
    sh: (10px, -4471px),
    si: (10px, -4493px),
    sj: (15px, -4515px),
    sk: (14px, -4537px),
    sl: (14px, -4559px),
    sm: (15px, -4581px),
    sn: (14px, -4603px),
    so: (14px, -4625px),
    sr: (14px, -4647px),
    ss: (10px, -4669px),
    st: (10px, -4691px),
    sv: (12px, -4713px),
    sx: (14px, -4735px),
    sy: (14px, -4757px),
    sz: (14px, -4779px),
    ta: (10px, -4801px),
    tc: (10px, -4823px),
    td: (14px, -4845px),
    tf: (14px, -4867px),
    tg: (13px, -4889px),
    th: (14px, -4911px),
    tj: (10px, -4933px),
    tk: (10px, -4955px),
    tl: (10px, -4977px),
    tm: (14px, -4999px),
    tn: (14px, -5021px),
    to: (10px, -5043px),
    tr: (14px, -5065px),
    tt: (12px, -5087px),
    tv: (10px, -5109px),
    tw: (14px, -5131px),
    tz: (14px, -5153px),
    ua: (14px, -5175px),
    ug: (14px, -5197px),
    um: (11px, -5219px),
    un: (14px, -5241px),
    us: (11px, -5263px),
    uy: (14px, -5285px),
    uz: (10px, -5307px),
    va: (15px, -5329px),
    vc: (14px, -5346px),
    ve: (14px, -5368px),
    vg: (10px, -5390px),
    vi: (14px, -5412px),
    vn: (14px, -5434px),
    vu: (12px, -5456px),
    wf: (14px, -5478px),
    ws: (10px, -5500px),
    xk: (15px, -5522px),
    ye: (14px, -5544px),
    yt: (14px, -5566px),
    za: (14px, -5588px),
    zm: (14px, -5610px),
    zw: (10px, -5632px),
);

@function retina-size($value) {
    @return floor($value / 2);
}

@mixin retina-bg-size($spriteWidth, $spriteHeight) {
    background-size: floor($spriteWidth / 2) floor($spriteHeight / 2);
}

.viti {
    &__fl-lazy {
        width: 20px;
        height: $flag-height;
        margin-right: 25px;
        background-color: #dbdbdb;
        background-image: none;
        border-radius: 2px;
        box-shadow: 0 0 1px 0 #888888;
    }

    &__fl {
        width: map-get($item-width-maps, $standard-country);
        height: $flag-height;
        // empty state
        background-color: #dbdbdb;
        background-image: url('#{$flags-image-path}#{$flags-image-name}.#{$flags-image-extension}');
        background-repeat: no-repeat;
        background-position: $flag-width 0;
        border-radius: 2px;
        box-shadow: 0 0 1px 0 #888888;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('#{$flags-image-path}#{$flags-image-name}@2x.#{$flags-image-extension}');
        }

        // hack for Nepal which is the only flag that is not square/rectangle, so it has transparency, so you can see the default grey behind it
        &.np {
            background-color: transparent;
        }

        @each $key, $width in $item-width-maps {
            @if $width != map-get($item-width-maps, $standard-country) {
                &.fl-#{$key} {
                    width: $width;
                }
            }
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-size: 5652px 15px;
        }

        @each $key, $country in $item-position-map {
            $flag-height: nth($country, 1);
            $flag-position: nth($country, 2);

            &.fl-#{$key} {
                height: $flag-height;
                background-position: #{$flag-position} 0;
            }
        }
    }

    // Emoji
    &__eflag {
        margin-right: 5px;

        &--dropdown {
            font-size: 1.7rem;
        }
    }
}