// Bulma
$dropdown-content-padding-top: 0;
// Flags

$flag-height: 15px !default;
$flag-width: 20px !default;
$flag-padding: 8px !default;
// this border width is used for the popup and divider, but it is also
// assumed to be the border width of the input, which we do not control

// image related variables
$flags-image-path: '~@/assets/img/' !default;
$flags-image-name: 'flags' !default;
$flags-image-extension: 'png' !default;

@import '~buefy/src/scss/buefy-build';
@import 'sprite';

.iti {
    &__button {
        margin-right: -1px;
        border-radius: 4px 0 0 4px;

        span {
            display: flex;
            align-items: center;
        }
    }

    &__country {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        
        &-dial {
            font-weight: bold;
        }
    }

    &__arrow {
        margin-left: 7px;
        transition: all .25s cubic-bezier(.645, .045, .355, 1);

        &.is-open {
            transform: rotate(180deg);
        }
    }

    &__flag {
        height: $flag-height;
        // empty state
        background-color: #dbdbdb;
        background-image: url('#{$flags-image-path}#{$flags-image-name}.#{$flags-image-extension}');
        background-repeat: no-repeat;
        background-position: $flag-width 0;
        box-shadow: 0 0 1px 0 #888888;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('#{$flags-image-path}#{$flags-image-name}@2x.#{$flags-image-extension}');
        }

        // hack for Nepal which is the only flag that is not square/rectangle, so it has transparency, so you can see the default grey behind it
        &.np {
            background-color: transparent;
        }
    }


    &__eflag {
        margin-right: 5px;
        font-size: 1.7rem;
    }
}

.dropdown {
    .field {
        position: sticky;
        top: 0;
        z-index: 99;
        padding-bottom: 5px;
        background: rgb(255 255 255 / 95%);
    }

    .dropdown-menu {
        min-width: 400px;
        max-width: 400px;
    }

    .dropdown-item {
        // Custom styles
        .media {
            align-items: center;
        }
    }
}

