@import '~buefy/dist/buefy.css';

.autocomplete {
    .control {
        width: 120px;
        max-width: 120px;
    }
    
    .dropdown-menu {
        min-width: 300px;
        max-width: 300px;
    }

    .dropdown-item {
        // Custom styles
        .media {
            align-items: center;

            .flag {
                margin-right: 5px;
                font-size: 1.7rem;
            }
            
            .country {
                display: flex;
                flex-direction: column;
                
                .dial-code {
                    font-weight: bold;
                }
            }
        }
    }
}
